@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif !important;
}

:root {
  --primary-color: #61d8b1;
  --text-color: #56b4b0;
}

body {
  background-color: #161616;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 2rem;
  color: var(--text-color);
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.searchSumbit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  & button {
    padding: 1.04rem 2rem;
    border-radius: 0 0.8rem 0.8rem 0;
    border: none;
    background-color: var(--primary-color);
    font-size: 17px;
  }
}

.searchBox {
  background-color: transparent;
  color: rgb(226, 226, 226);
  padding: 0.8rem;
  font-size: 14px;
  width: 15rem;
  text-align: center;
  border: 3px solid var(--primary-color);
  border-right: none;
  border-radius: 0.8rem 0 0 0.8rem;
  outline: none;
  transform: scale(1.2);
}

.loadSpinner {
  animation: spin infinite 0.7s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-page {
  width: 80dvw;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}

.card {
  background-color: #171717;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border: 4px solid #373737;
  border-radius: 10px;
  height: 17rem;
  width: 11rem;

  &:hover {
    transform: scale(1.05);
    transition: all 0.4s;
    background-color: #222222;
    border: 4px solid var(--primary-color);
  }
}

.card-info {
  & h2 {
    font-size: 13px;
    margin-bottom: 0.3rem;
  }

  & p {
    font-size: 12px;
    margin-bottom: 1rem;
  }

  & img {
    width: 140px;
    height: 200px;
    border-radius: 10px;
    border: 4px solid #232323;
  }
}

.footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #666666;
}

@media (max-width: 460px) {
  .searchBox {
    width: 10rem;
    padding: 0.8rem;
    font-size: 14px;
  }

  .searchSumbit button {
    padding: 0.8rem 1rem;
  }

  .card {
    padding: 1rem;
    border: 3px solid #373737;
    border-radius: 8px;
    height: 12rem;
    width: 7rem;
  }

  .card-info {
    & h2 {
      font-size: 11px;
    }
    & p {
      font-size: 10px;
      margin-bottom: 0.6rem;
    }
    & img {
      width: 100px;
      height: 140px;
    }
  }

  .movie-page {
    width: 90vw;
    gap: 1rem;
  }

  .footer {
    font-size: small;
  }
}

.singleMovie {
  color: white;
  width: 60%;
  height: max-content;
  margin-top: 7%;
  align-items: center;
  display: flex;
  gap: 2rem;
  border: 4px solid #00cea8;
  padding: 2rem;
  transition: 0.8s;
  border-radius: 10px;

  &:hover {
    transform: scale(1.02);
    transition: 0.8s;
  }
}
/* .singleMovie */

.leftDiv img {
  width: 15rem;
  border: 0.3rem solid #ffffff;
  border-radius: 10px;
}

.rightDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  & .div-1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & p {
      font-size: 1.6rem;
      color: #a4a4a4;
    }
  }

  & .div-2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    & p:nth-child(1) {
      border: 2px solid #555555;
      padding: 0.3rem;
      color: #7e7e7e;
      font-size: 14px;
      border-radius: 5px;
    }

    & ul {
      display: flex;
      gap: 1.5rem;
      margin-left: 1rem;
    }
  }

  & .div-4 {
    & h2 {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
      color: #00ad8d;
    }

    & p {
      font-size: small;
    }
  }

  & .div-5 {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;

    & h4 {
      margin-bottom: 0.2rem;
      color: var(--text-color);
    }

    & p {
      color: #eaeaea;
      font-size: small;
    }

    & div:nth-child(2) {
      width: 90%;
    }
  }
}

.loadingInfo {
  display: flex;
  align-items: center;
  color: #00ad8d;
  font-size: 2rem;
  margin-top: 45dvh;

  & p {
    margin-left: 1rem;
  }
}
